{{/* Load the ads dictionary from the data directory */}}
{{ $ads := $.Site.Data.ads_data }}
{{/* Detect the current page's language */}}
{{ $lang := .Page.Language.Lang }}
{{ $langAds := index $ads $lang }}
{{/* Fallback to English if no ads exist for the detected language */}}
{{ if not $langAds }}
  {{ $langAds = index $ads (.LanguagePrefix | absURL) }}
{{ end }}
{{ if not (.Site.Params.latte.HideAds) }}
<style>
  .affiliate-heading {
      display:flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
 }
  .affiliate-badge{
      opacity: 0.7;
      font-size: 0.90rem;
      word-break: keep-all;
 }
  .affiliate-img-side {
      max-height: 225px;
      width: 100%;
 }
  .affiliate-img {
      width: 450px;
      width: 100%;
 }
  .affiliate-link-button-sm {
      display:none;
 }
  .affiliate-link-button-lg {
      display:block;
 }
 .affiliate-link-button-sm:visited, .affiliate-link-button-lg:visited {
     color: var(--dark);
 }
 
  .affiliate-link-container {
      margin-bottom: 36px;
      padding: 0 2rem;
      position: sticky;
      top: 120px;
 }
  .affiliate-body{
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 24px;
      margin: 36px 0;
 }
 .affiliate-desc {
      opacity: 0.75;
      width: 100%;
  }

  .affiliate-link-button{
      background-color: #FED400;
      color: #020100;
      padding: 6px 22px;
      border-radius: 4px;
 }
 
   .affiliate-shadow {
     box-shadow: 7px 6px 39px -15px rgba(46,46,46,0.75);
     -webkit-box-shadow: 7px 6px 39px -15px rgba(46,46,46,0.75);
     -moz-box-shadow: 7px 6px 39px -15px rgba(46,46,46,0.75);
   }
   .affiliate-link-container-article{
      display: none;
  }
  @media (max-width: 720px) {
      .affiliate-link-button{
          padding: 8px 24px;
          border-radius: 4px;
     }
      .affiliate-link-button-sm {
          display:block;
     }
      .affiliate-link-button-lg {
          display:none;
     }
      .affiliate-img {
          width: 225px;
          aspect-ratio: 34/45;
      }
      .affiliate-shadow {
        box-shadow: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
      }
 }
 
 @media (max-width: 1120px) {
   .affiliate-link-container-side {
     display: none;
   }
   .affiliate-link-container-article {
     display: inline;
   }
 }

 .video-placeholder {
  width: 100%;
  max-width: 100%;
  position: relative;
  cursor: pointer;
  display: inline-block;
}

.panel-button{
  width: 100%;
  text-align: center;
}

.video-thumbnail {
  display: block;
  width: 100%;
  height: auto;
}

.play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 68px;
  height: 48px;
  background: #333;
  border-radius: 12px;
  opacity: 0.8;
}

.play-button::before {
  content: "";
  position: absolute;
  left: 24px;
  top: 9px;
  border: 16px solid transparent;
  border-left: 24px solid #fff;
}

.video-placeholder:hover .play-button {
  background: #f00;
  opacity: 1;
}

</style>
{{/* Loop through categories and display ads, limit only to two categories */}}
{{ range first 2 .Page.Params.categories }}
  {{ $ad := index $langAds (lower .) }}
  {{ if $ad }}
  <aside class="affiliate-link-container-article">
    <div class="affiliate-heading">
      <h2>{{$ad.title}}</h2>
      <span class="affiliate-badge">{{ i18n "ad" }}</span>
    </div>
    <div class="affiliate-body">
    <div><p>{{$ad.description}}</p></div>
    {{ if $ad.imageSrc }}
      <div>
      <a class="affiliate-link" rel="nofollow sponsored" category="{{.}}" href="{{$ad.link}}"><img loading="lazy" class="affiliate-img affiliate-shadow" src="{{$ad.imageSrc}}" alt="{{$ad.imageAlt}}" title="{{$ad.imageAlt}}"/></a>
      </div>
    {{ end }}
      <div>
        <a rel="nofollow sponsored" category="{{.}}" class="affiliate-link affiliate-link-button affiliate-link-button-lg affiliate-shadow" aria-label="Amazon link" href="{{$ad.link}}">{{$ad.linkText}}</a>
        {{/*  Show shorter link according to media queries  */}}
        <a rel="nofollow sponsored" category="{{.}}" class="affiliate-link affiliate-link-button affiliate-link-button-sm affiliate-shadow" aria-label="Amazon link" href="{{$ad.link}}">{{ T "amazonLink"}}</a>
      </div>
    </div>
  </aside>
    {{ end }}
  {{ end }}

  <template class="books" id="books">
    <aside class="affiliate-link-container affiliate-link-container-side">
      <div class="affiliate-heading">
        <h3>{{i18n "bookRecommendations"}}</h3>
        <span class="affiliate-badge">{{ i18n "ad" }}</span>
      </div>
      <div class="affiliate-desc">{{i18n "bookDescriptions"}}</div>
      {{/* Loop through categories and display ads, limit only to two categories */}}
      {{ range first 2 .Page.Params.categories }}
        {{ $ad := index $langAds . }}
        {{ if $ad }}
            <div class="affiliate-body">
            {{ if $ad.imageSrc }}
              <div>
              <a class="affiliate-link" rel="nofollow sponsored" category="{{.}}" href="{{$ad.link}}"><img loading="lazy" class="affiliate-img-side affiliate-shadow" height="225px" src="{{$ad.imageSrc}}" alt="{{$ad.imageAlt}}" title="{{$ad.imageAlt}}"/></a>
              </div>
            {{ end }}
              <div>
                {{/*  Show shorter link according to media queries  */}}
                <a rel="nofollow sponsored" category="{{.}}" class="affiliate-link affiliate-link-button affiliate-link-button-lg affiliate-shadow" aria-label="Amazon link" href="{{$ad.link}}">{{ T "amazonLink"}}</a>
              </div>
            </div>
        {{ end }}
      {{ end }}
    </aside>
</template>

<template class="sassTemplates" id="sassTemplates">
  <aside class="affiliate-link-container affiliate-link-container-side">
    <div class="affiliate-heading">
      <h3>{{i18n "leftPanelTitle"}}</h3>
    </div>
      {{ $url := "/en/my-curated-best-sources-to-learn-python-programming-language/" }}
      {{ if eq $lang "es" }}
            {{ $url = "/es/mis-libros-favoritos-para-aprender-a-programar-en-python/" }}
      {{ end }}
    <div class="affiliate-body">
      <div class="affiliate-desc">{{i18n "leftPanelDesc"}}</div>
      <div class="video-placeholder" data-video-id="0QkuLx6UiXk" data-image-url="https://res.cloudinary.com/dwrscezd2/image/upload/v1744741603/coffee-bytes/saas-pegasus_uwpzuy.webp">
        <a href="{{$url}}">
          <img height="300px" src="https://res.cloudinary.com/dwrscezd2/image/upload/v1745688775/coffee-bytes/python-tricks_zjtir8.webp" alt="Python book thumbnail" class="video-thumbnail"/>
          </a>
      </div>

      <div class="panel-button"><a class="affiliate-link affiliate-link-button affiliate-link-button-lg affiliate-shadow" href="{{$url}}">{{ i18n "leftPanelButton"}}</a></div>
    </div>
  </aside>
</template>

{{ end }}

<script defer type="module">

  function loadYoutubeVideo() {
    const placeholders = document.querySelectorAll('.video-placeholder');
    
    placeholders.forEach(placeholder => {
      placeholder.addEventListener('click', function() {
        const videoId = this.getAttribute('data-video-id');
        const imageUrl = this.getAttribute('data-image-url');
        
        // Create YouTube iframe
        const iframe = document.createElement('iframe');
        iframe.setAttribute('src', `https://www.youtube.com/embed/${videoId}?autoplay=1`);
        iframe.setAttribute('frameborder', '0');
        iframe.setAttribute('allowfullscreen', '');
        iframe.setAttribute('allow', 'accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture');
        iframe.style.width = '100%';
        iframe.style.height = '100%';
        
        // Replace the placeholder content with the iframe
        this.innerHTML = '';
        this.appendChild(iframe);
        
        // Track the conversion if needed (for analytics)
        console.log('Video loaded:', videoId, 'Replaced image:', imageUrl);
      });
    });
  }


  function renderRightPanelAds(){
    let booksTemplates = document.querySelectorAll(".books");
    let rightPanel = document.getElementById("right-panel");
    booksTemplates.forEach((bookTemplate) => {
        let clon = bookTemplate.content.cloneNode(true);
        rightPanel.appendChild(clon)
    })
  }

  function renderAds() {
      renderRightPanelAds()
      renderLeftPanelAds()
      //loadYoutubeVideo()
  }

  async function updateLinkToMx() {
    const response = await fetch("/data/ads.json")
    const adsData = await response.json()
    const affiliateLinks = document.querySelectorAll(".affiliate-link")
    affiliateLinks?.forEach((link) => {
        // Every link as its category as id
        // Only link is replaced for now
        let category = link?.getAttribute("category")
        if(!category) {return}
        link.setAttribute("href", adsData["es-MX"][category]["link"])
    })
  }

  function renderLeftPanelAds() {
    let sassTemplates = document.querySelectorAll(".sassTemplates");
    let leftPanel = document.getElementById("left-panel");
    sassTemplates.forEach((sassTemplate) => {
      let clon = sassTemplate.content.cloneNode(true);
      leftPanel.appendChild(clon)
    })
  }

  function reloadAds() {
    document.getElementById("right-panel")?.replaceChildren();
    document.getElementById("left-panel")?.replaceChildren();
    renderAds();
  }

  ["DOMContentLoaded", "htmx:afterSettle", "htmx:historyRestore"].forEach((event) => document.body.addEventListener(event, function(event) {
    reloadAds()
    // <!--This will trigger only if language is spanish and the timezone is Mexico
    // for now this constraint should be enough-->
    // Update links to amazon mx if user is in Mexico city timezone and its language is spanish
    if (Intl.DateTimeFormat().resolvedOptions().timeZone === "America/Mexico_City" && document.querySelector("html").getAttribute("lang") === "es") {
      try {
          updateLinkToMx()
      } catch (e) {
          console.error("Error trying to update mx affiliate links: ", e)
      }
  }
}))
  reloadAds()

</script>



