{{/* Load the ads dictionary from the data directory */}}
{{ $ads := $.Site.Data.ads_data }}
{{/* Detect the current page's language */}}
{{ $lang := .Page.Language.Lang }}
{{ $langAds := index $ads $lang }}
{{/* Fallback to English if no ads exist for the detected language */}}
{{ if not $langAds }}
  {{ $langAds = index $ads (.LanguagePrefix | absURL) }}
{{ end }}
{{ if not (.Site.Params.latte.HideAds) }}
{{/* Loop through categories and display ads, limit only to two categories */}}
{{ range first 2 .Page.Params.categories }}
  {{ $ad := index $langAds . }}
  {{ if $ad }}
    <style>
 .affiliate-heading {
     display:flex;
     justify-content: space-between;
     align-items: center;
}
 .affiliate-badge{
     opacity: 0.7;
     font-size: 0.95rem;
     word-break: keep-all;
}
 .affiliate-img {
     max-height: 450px;
     width: 100%;
}
 .affiliate-link-button-sm {
     display:none;
}
 .affiliate-link-button-lg {
     display:block;
}
 .affiliate-link-container {
     margin-bottom: 36px;
}
 .affiliate-body{
     display: flex;
     flex-direction: column;
     align-items: center;
     gap: 24px;
}
 .affiliate-link-button{
     background-color: #FED400;
     color: #020100;
     padding: 12px 32px;
     border-radius: 4px;
}

  .affiliate-shadow {
    box-shadow: 7px 6px 39px -15px rgba(46,46,46,0.75);
    -webkit-box-shadow: 7px 6px 39px -15px rgba(46,46,46,0.75);
    -moz-box-shadow: 7px 6px 39px -15px rgba(46,46,46,0.75);
  }

 @media (max-width: 720px) {
     .affiliate-link-button{
         padding: 8px 24px;
         border-radius: 4px;
    }
     .affiliate-link-button-sm {
         display:block;
    }
     .affiliate-link-button-lg {
         display:none;
    }
 .affiliate-img {
     max-height: 250px;
     width: 100%;
  }
}
    </style>

    <aside class="affiliate-link-container">
      <div class="affiliate-heading">
        <h2>{{$ad.title}}</h2>
        <span class="affiliate-badge">{{ i18n "ad" }}</span>
      </div>
      <div class="affiliate-body">
      <div><p>{{$ad.description}}</p></div>
      {{ if $ad.imageSrc }}
        <div>
        <a rel="nofollow sponsored" id="{{.}}" href="{{$ad.link}}"><img loading="lazy" class="affiliate-img affiliate-shadow" src="{{$ad.imageSrc}}" alt="{{$ad.imageAlt}}" title="{{$ad.imageAlt}}"/></a>
        </div>
      {{ end }}
        <div>
          <a rel="nofollow sponsored" id="{{.}}" class="affiliate-link-button affiliate-link-button-lg affiliate-shadow" aria-label="Amazon link" href="{{$ad.link}}">{{$ad.linkText}}</a>
          <a rel="nofollow sponsored" id="{{.}}" class="affiliate-link-button affiliate-link-button-sm affiliate-shadow" aria-label="Amazon link" href="{{$ad.link}}">{{ T "amazonLink"}}</a>

        </div>
      </div>
    </aside>
  {{ end }}
{{ end }}
{{ end }}

<style>


</style>

<script>
  async function updateLinkToMx(){
    //<!--This location is determined by its root location-->

    const response = await fetch("/data/ads.json")
    const adsData = await response.json()
    const affiliateLinks = document.querySelectorAll(".affiliate-link")
    affiliateLinks?.forEach((link)=>{
      // Every link as its category as id
      // Only link is replaced for now
      let category = link?.getAttribute("id")
      link.setAttribute("href", adsData["es-MX"][category]["link"])
    })
  }
  
  // <!--This will trigger only if language is spanish and the timezone is Mexico
  // for now this constraint should be enough-->
  if(Intl.DateTimeFormat().resolvedOptions().timeZone==="America/Mexico_City" && "{{ $lang }}"==="es"){
    try {
      updateLinkToMx()
    } catch(e){
      console.error("Error trying to update mx affiliate links: ", e)
    }
  }
</script>
