{{ if .IsNamedParams }}
<div class="info">
    Esto puede serte útil para tu aplicación de {{ if .Get "product" }} {{ .Get "product" }}{{ end }}: 200 USD de crédito en DO usando este <a href="https://m.do.co/c/a22240ebb8e7" class="markdown-link">enlace</a>.
</div>
{{ else }}
<div class="info">
    Si todavía no sabes donde hostear tu aplicación, prueba Digital Ocean, te regalo 200 USD para que experimentes si das click en este <a href="https://m.do.co/c/a22240ebb8e7">enlace</a>.
</div>
{{ end }}